<h2>Kundenliste</h2>
<table class="table table-condensed">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Aktionen</td>
  </tr>
  </thead>
  <tbody>
  <template ngFor let-customer [ngForOf]="customers">
    <tr [appTeaser]="'silver'" (click)="showDetails(customer)">
      <td>{{customer.customerid}}</td>
      <td>{{customer.fullname}}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)='buttonClick_NeuerSchaden(customer.customerid)'>Neuer Schaden
        </button>
      </td>
    </tr>

    <app-customer-detail *ngIf="currentCustomer && currentCustomer === customer" [customer]="customer"></app-customer-detail>

    <!--<tr *ngIf="currentCustomer && currentCustomer === customer">-->
      <!--<td colspan="3">-->
        <!--Mitglied seit: {{customer.memberSince | date:'longDate'}} <br>-->
        <!--Anzahl Schäden: {{customer.claimsCount}}<br><br></td>-->
    <!--</tr>-->


  </template>
  </tbody>
</table>
